<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' type='text/css' href='../css/main.css'>
</head>

<body>
    <section id='result_content_box'>
        <h1>Submitted Information</h1>
        <p>Name:
            <%= User_name%>
        </p>
        <p>Location:
            <%= dojo_location %>
        </p>
        <p>Favorite Lanaguage:
            <%= fav_lang %>
        </p>
        <p>Comment:
            <%= comment_box %>
        </p>




        <input type='submit' value='Go Back'>

    </section>
</body>

</html>